<div class="container">
<%= form_with model: @sea do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control"%>

  <%= f.label :temperature %>
  <%= f.number_field :temperature, class: "form-control"%>

  <%= f.label :bio %>
  <%= f.text_area :bio, class: "form-control" %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url, class: "form-control" %>

  <%= f.label :mood %>
  <%= f.text_field :mood, class: "form-control" %>

  <%= f.label :favorite_color %>
  <%= f.text_field :favorite_color, class: "form-control" %>

  <%= f.label :scariest_creature %>
  <%= f.text_field :scariest_creature, class: "form-control" %>

  <%= f.label :has_mermaids %>
  <%= f.check_box :has_mermaids, class: "form-control" %>

  <%=  f.submit class: "form-control", value: "Update Sea", class: "form-control btn btn-info" %>

  <% end %>



  <div class="text-center row" style="margin: 1em">
    <div class="col-sm-1">
      <button class="btn btn-info" style="margin: 0 auto"><a href="/seas/<%=@sea.id%>">Back</a></button>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-1">
      <button class="btn btn-info" style="margin: 0 auto"><a class="btn-info" href="/seas">All Seas</a></button>
    </div>

    <div class="col-sm-8">
    </div>

    <div class="col-sm-1">
      <button class="btn btn-danger">
        <%= link_to "Delete", sea_path(@sea), method: :delete %>
      </button>
    </div>
  </div>
</div>
