




<div class="container">
<%= form_for @sea, :html => {:class => "form-horizontal "} do |f| %>
<div class="form-group">
  <%= f.label :name, class: "col-md-4 control-label" %>
  <div class="col-md-8">
  <%= f.text_field :name, class: "form-control"  %> 
</div>
</div>
<div class="form-group">
  <%= f.label :temperature, class: "col-md-4 control-label" %>
   <div class="col-md-8">
  <%= f.number_field :temperature, class: "form-control" %>
</div>
  </div>
  <div class="form-group">
    <%= f.label :bio, class: "col-md-4 control-label" %>
     <div class="col-md-8">
  <%= f.text_area :bio, class: "form-control" %>
</div>
  </div>
  <div class="form-group">
    <%= f.label :image_url, class: "col-md-4 control-label" %>
     <div class="col-md-8">
  <%= f.text_field :image_url, class: "form-control" %>
</div>
  </div>
  <div class="form-group">
    <%= f.label :mood, class: "col-md-4 control-label" %>
     <div class="col-md-8">
  <%= f.text_field :mood, class: "form-control" %>
</div>
  </div>
  <div class="form-group">
    <%= f.label :favorite_color, class: "col-md-4 control-label" %>
     <div class="col-md-8">
  <%= f.text_field :favorite_color, class: "form-control" %>

  </div></div>
  <div class="form-group">
    <%= f.label :scariest_creature, class: "col-md-4 control-label" %>
     <div class="col-md-8">
  <%= f.text_field :scariest_creature, class: "form-control" %>
</div>
  </div>
  <div class="form-group">
    <%= f.label :has_mermaids, class: "col-md-4 control-label" %>
     <div class="col-md-8">
  <%= f.check_box :has_mermaids, class: "form-control" %>
</div>
  </div>
  <div class="form-group">
    <%=  f.submit %>
</div>

  <% end %>
</div>